* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/familia-no-supermercado-mulher-em-uma-camiseta-marrom-as-pessoas-escolhem-produtos-mae-com-filha.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    margin: 50px;
    border-radius: 5px;
}